# Database Configuration
DB_NAME=imdb_clone
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432

# JWT Authentication
JWT_SECRET=maarijsecret
JWT_EXPIRES_IN=24h

# Password Hashing
BCRYPT_SALT_ROUNDS=10

# Server Configuration
NODE_ENV=development
PORT=3000


BODY_LIMIT=1mb
CORS_ORIGIN=http://localhost:5173